* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle, #7a567c, #550565);
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
  border-radius: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(20, 4, 19, 0.781);
}

/* LADO ESQUERDO */
.left {
  width: 45%;
  background: #180b1881;
  padding: 50px;
  color: #ffffff;
  position: relative;
}

.left h2 {
  margin-bottom: 40px;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  color: #fff;
  outline: none;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #aaa;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #c5b0e6;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(45deg, #5d1552bd, #653778);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.left p {
  margin-top: 20px;
  font-size: 14px;
}

.left span {
  color: #ad95d5;
  cursor: pointer;
}

/* LADO DIREITO */
.right {
  width: 55%;
  background: linear-gradient(135deg, #532b7a,);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.right p {
  width: 70%;
  opacity: 0.9;
}

.dashboard {
    width: 100%;
    height: 100vh;
    border-radius: 0;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  background: #180b18;
  padding: 30px;
  color: #fff;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  margin-bottom: 15px;
  color: #ccc;
  cursor: pointer;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  color: #fff;
}

/* MAIN */
.main {
  width: 75%;
  background: #f6f7fb;
  padding: 30px;
  color: #333;
}

/* TOPO */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top span {
  font-size: 22px;
  color: #777;
}

.btn {
  width: auto;
  padding: 10px 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 30px 0;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

/* TABELA */
.table {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
