* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #76217a, #260b2a);
}

.container {
  text-align: center;
  width: 100%;
}

.top-icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #d0b00e, #d7d2de);
  color: #3b0a45;
  font-size: 30px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

h1 {
  color: #f1d77a;
  margin-bottom: 5px;
}

.subtitle {
  color: #cbb6d8;
  margin-bottom: 25px;
  font-size: 14px;
}

.card {
  width: 400px;
  background: #2a0033;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(35, 3, 54, 0.6);
  text-align: left;
  margin: 0 auto;
}

.card label {
  display: block;
  margin: 15px 0 6px;
  font-size: 14px;
  color: #a831ae;
}

.card input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #5a2a6e;
  background-color: #3b0a45;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.card input::placeholder {
  color: #cbb6d8;
}

.card input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 8px rgba(212,175,55,0.5);
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(310deg, #a9996a, #d0b00e);
  color: #3b0a45;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(201, 197, 183, 0.4);
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #cbb6d8;
}

.login-link a {
  color: #d0b00e;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

.errors {
  color: red;
}