body {
  min-height: 100vh;
  background: radial-gradient(circle, #7a567c, #550565);
  margin: 0%;
}

.container {
  width: 900px;
  height: 450px;
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
  border-radius: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(20, 4, 19, 0.781);
}

.dashboard {
    width: 100%;
    height: 100vh;
    border-radius: 0;
}

.sidebar {
  width: 240px;
  min-width: 15px;
  background: #4e134eb6;
  padding: 30px;
  color: #f1ecec;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  margin-bottom: 15px;
  color: #fffafa;
  cursor: pointer;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  color: #d7c02a;
}

.main {
  flex: 1;
  background: #f6f7fb;
  padding: 30px;
  color: #333;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top span {
  font-size: 22px;
  color: #777;
}

.btn {
  width: auto;
  padding: 10px 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 30px 0;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.table {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
